<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <title>永康市数字小微园政府监管应用</title>
    <link rel="stylesheet" th:href="@{/xwyjs/css/all.css}">
    <link rel="stylesheet" th:href="@{/xwyjs/css/style_27.css}">
    <link rel="stylesheet" th:href="@{/xwyjs/css/style_10.css}">
    <link rel="stylesheet" th:href="@{/xwyjs/lib/layui/css/layui.css}">
    <style>
        html {
            overflow: hidden;
        }
    </style>
</head>
<body>
<div class="L227_wrapper">
    <div class="P110_content">
        <iframe class="P110_iframe" src="./dimension/dimension" frameborder="0"></iframe>
    </div>
</div>
<script th:src="@{/xwyjs/js/jquery.min.js}"></script>
<script th:src="@{/xwyjs/js/main.js}"></script>
<script th:src="@{/xwyjs/js/27/jquery.backgroundSize.js}"></script>
<script th:src="@{/xwyjs/js/27/left27.js}"></script>
<script th:src="@{/xwyjs/lib/layui/layui.js}"></script>
<script>
</script>
</body>
</html>
