<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <title>政法监管应用首页</title>
    <link rel="stylesheet" th:href="@{/xwyjs/css/all.css}">
    <link rel="stylesheet" th:href="@{/xwyjs/css/style_26.css}">
    <link rel="stylesheet" th:href="@{/xwyjs/lib/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/xwyjs/css/27/yqzl.css}">
</head>
<body>
    <div class="I126_wapper I127_wapper">
        <div class="I126_header bg_27">
            <div class="I126_h_left">
                <span class="I126_h_date" id="time">
                </span>
                <span id="temp"></span>
                <img id="weatherIcon" src="#" />
                <span class="I126_h_weather" id="weather">
                </span>
            </div>
            <span class="P126_return" style="display: none;">返回</span>
            <div class="I127_center">
                <p class="I127_center_sp1">[[${bean.name}]]</p>
                <p class="I127_center_sp2">
                    <img th:if="${bean.level > 0}" th:src="@{/xwyjs/images/27/I127_star_yqzl.png}" />
                    <img th:if="${bean.level > 1}" th:src="@{/xwyjs/images/27/I127_star_yqzl.png}" />
                    <img th:if="${bean.level > 2}" th:src="@{/xwyjs/images/27/I127_star_yqzl.png}" />
                    <img th:if="${bean.level > 3}" th:src="@{/xwyjs/images/27/I127_star_yqzl.png}" />
                    <img th:if="${bean.level > 4}" th:src="@{/xwyjs/images/27/I127_star_yqzl.png}" />
                </p>
            </div>
        </div>
        <div class="I126_main">
            <div class="I126_content">
                <iframe class="I126_iframe" src="/statistics/dimension/yqzl" frameborder="0"></iframe>
            </div>
        </div>
        <div class="I126_footer">
            <div class="I126_navItem I126_currentItem">园区总览</div>
            <div class="I126_navItem">经济运行</div>
            <div class="I126_navItem">运营服务</div>
            <div class="I126_navItem">设备监控</div>
        </div>
    </div>
</body>
<script th:src="@{/xwyjs/js/jquery.min.js}"></script>
<script th:src="@{/xwyjs/js/main.js}"></script>
<script th:src="@{/xwyjs/js/jquery.backgroundSize.js}"></script>
<script th:src="@{/xwyjs/js/echarts/echarts.js}"></script>
<script th:src="@{/xwyjs/lib/layui/layui.js}"></script>
<script th:src="@{/xwyjs/js/27/left27.js}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var myDate = new Date;
        var year = myDate.getFullYear(); //获取当前年
        var mon = myDate.getMonth() + 1; //获取当前月
        var date = myDate.getDate(); //获取当前日
        var week = myDate.getDay();
        var weeks = ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"];
        $("#time").html(year + "年" + mon + "月" + date + "日" + "  " + weeks[week]);
        $('.I126_navItem').click(function () {
            $('.I126_navItem').removeClass('I126_currentItem');
            $(this).addClass('I126_currentItem');
            if($(this).text() == '园区总览'){
                $('.I126_iframe').attr('src','/statistics/dimension/yqzl')
            }
            if($(this).text() == '经济运行'){
                $('.I126_iframe').attr('src','/statistics/dimension/jjyx')
            }
            if($(this).text() == '运营服务'){
                $('.I126_iframe').attr('src','/index/service')
            }
            if($(this).text() == '设备监控'){
                $('.I126_iframe').attr('src','/index/alarm')
            }
            $('.P126_return').attr('style','display:none')
        });

        weather();

        $('.P126_return').on('click',function () {
            window.history.go(-1);
            $('.P126_return').attr('style','display:none')
        })
    });

    function changeIfra(url) {
        $('.I126_iframe').attr('src',url)
    }

    function showReturn() {
        $('.P126_return').attr('style','display:block')
    }
    function changeTitle(title) {
        $('.I127_center_sp1').text(title)
    }

    function weather() {
        /** 天气 */
        var data = {
            appid: 74836413,
            appsecret: 'vYTXC99M ',
            version: 'v1',
            cityid: 101210907
        };
        $.get('https://www.tianqiapi.com/api/',data, function(result) {
            console.log(result);
            $('#temp').text(result.data[0].tem);
            $('#weather').text(result.data[0].wea);
            $('#weatherIcon').attr('src','../../../xwyjs/images/26/' + result.data[0].wea_img +'.png')
        })
    }

</script>

</html>
